---
layout: default
title: All Episodes
---

<div class="container">
  <header class="page-header">
    <h1>Episodes</h1>
  </header>

  <table class="episodes-table">
    <thead>
      <tr>
        <th class="col-number">#</th>
        <th class="col-title">Title</th>
        <th class="col-date">Date</th>
        <th class="col-duration">Duration</th>
      </tr>
    </thead>
    <tbody>
      <% site.data.episodes.each_with_index do |episode, index| %>
        <tr>
          <td class="col-number"><%= site.data.episodes.length - index %></td>
          <td class="col-title">
            <a href="<%= relative_url "/1755269/episodes/#{episode[:slug]}" %>">
              <%= episode[:title] %>
            </a>
          </td>
          <td class="col-date">
            <time datetime="<%= episode[:pub_date] %>">
              <%= episode[:pub_date].strftime('%b %d, %Y') %>
            </time>
          </td>
          <td class="col-duration">
            <% if episode[:duration] %>
              <%= format_duration(episode[:duration]) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
